<div class="container">
	<div id="menu">
		<ul>
			<li>
				Connection
				<ul>
					<li><a href="javascript:void(0)" data-action="connect">Quick connect</a></li>
					<li><a href="javascript:void(0)" data-action="connection">Open stored connection</a></li>
					<li><a href="javascript:void(0)" data-action="manage_connection">Manage connections</a></li>
					<li><a href="javascript:void(0)" data-action="disconnect">Disconnect</a></li>
				</ul>
			</li>
			<!--<li>-->
				<!--Alias-->
				<!--<ul>-->
					<!--<li>Quick connect</li>-->
					<!--<li>Open stored connection</li>-->
					<!--<li>Manage connections</li>-->
				<!--</ul>-->
			<!--</li>-->
			<li>
				Triggers
				<ul>
					<li><a href="javascript:void(0)" data-action="edit_triggers">Edit triggers</a></li>
				</ul>
			</li>
			<!--<li>-->
				<!--Variables-->
				<!--<ul>-->
					<!--<li>Quick connect</li>-->
					<!--<li>Open stored connection</li>-->
					<!--<li>Manage connections</li>-->
				<!--</ul>-->
			<!--</li>-->
		</ul>
	</div>
	<div class="control">
		<div id="screen"></div>
		<input type="text" id="cmd" value="" />
	</div>
	<div class="panel">
		<input type="button" value="Connect" id="connect" />
		<input type="button" value="Disconnect" id="disconnect" />
	</div>
	<div class="clear"></div>
</div>

<div id="dialog-connect" title="Quick connect" class="hidden">
	<form>
		<fieldset>
			<label for="host">Host</label>
			<input type="text" name="host" id="host" class="text ui-widget-content ui-corner-all" />
			<label for="port">Port</label>
			<input type="text" name="port" id="port" value="6000" class="text ui-widget-content ui-corner-all" />
		</fieldset>
	</form>
</div>
<div id="dialog-triggers" title="Triggers" class="hidden">
	<div id="dialog-triggers-left-column">
		<div id="trigger-actions-toolbar">
			<input type="button" value="Add" id="addTrigger" />
			<input type="button" value="Delete" id="deleteTrigger" />
			<div style="clear:both"></div>
		</div>
		<select id="trigger-list" size="10"></select>
	</div>
	<form id="trigger-editor-fields">
		<fieldset>
			<div id="pattern-fields">
				<label for="pattern">Pattern:</label>
				<input type="text" name="pattern" class="text ui-widget-content ui-corner-all" />
			</div>
			<div id="other-fields">
				<label for="trigger-type">Trigger type:</label>
				<select name="trigger-type">
					<option value="0">Command line (alias)</option>
					<option value="1">From MUD</option>
				</select>
			</div>
			<div id="editor-fields">
				<label for="actions">Actions:</label>
				<div id="actions-editor" name="actions" class="text ui-widget-content ui-corner-all"></div>
			</div>
		</fieldset>
	</form>
</div>
